<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogBuster</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@486&family=Protest+Strike&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="header-container">
        <div class="logo-div"><a href="/"><img src="images/logo.png" alt="logo" class="logo"><h1 class="logo-text header">BlogBuster</h1></a></div>
        <div class="navigation">
            <div class="nav-div home"><a class = "nav-text" href="/" >Home</a></div>
            <div class="nav-div addBlog"><a class = "nav-text-plus" href="/addBlog">+</a></div>
            <div class="nav-div signIn"><a class = "nav-text" href="/signIn">Sign In</a></div>
            <div class="darkmode"></div>
        </div>
    </div>
