:root{
    --background-color : #fff;
    --text-color : #000;
}

.dark-mode{
    --background-color : #000;
    --text-color : #fff;
}

body{
    margin: 0vh;
    background-color: var(--background-color);
}
.header-container{
    display: grid;
    grid-template-columns: 33% 65%;
    height: 10vh;
    width: 90vw;
    margin: 0vh auto;
    margin-top: 1vh;
}

.logo-div{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: flex-end;
}

.nav-div{
    display: flex;
    align-items: center;
    margin: 0vh 2vh;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: max-content;
}

.logo-text{
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 4vh;
    color: var(--text-color);
}

.footer{
    color: black;
}

.nav-text{
  font-family: "Outfit", sans-serif;
  font-weight: 586;
  font-size: 2.5vh;
  color: var(--text-color);
}

.addBlog{
    align-self: center;
    justify-content: center;
}

.footer-container{
    height: 30vh;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0vh;
}

.logo{
    display: inline;
    height: 7.5vh;
    width: 7.5vh;
    margin: 1vh;
}

h1{
    display: inline;
}

#number{
    font-size: 3vh;
    color: var(--text-color);
}

#icon{
    display: flex;
    font-size: 3vh;
    border-radius: 6vh;
    width: 6vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--text-color);
}